/* EMPOWERING SECTION */
.features__Container{
    background-image: url(../../assets/background1.webp);    
    height: 100%;
    width: auto;
    padding: 30px 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;  
}

.features__Text-Container { 
        grid-area: auto; 
        display: flex;
        align-items: start;
        flex-direction: column;
}
.features__Main-Title{
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 3.5rem;
}
.features__Text{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;   
    margin-top: 20px; 
}
.features__Text-Container button{
    margin-top: 20px;
}
.features__Img-Container { 
        grid-area: auto;         
        max-height: 100%;
        width: auto;
}
.features__Img-Container img { 
    height: auto; 
    width: 100%;    
}

/* HOW WE WORK SECTION */

.features__Work-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 100px;
    margin: 70px 0;
}
.features__Title{
    color: #058721;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.features__Work-Text{
    color: #6B6F75;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 40px;
}



/* EQUITY PROGRAM SECTION */

.features__Specs-Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.features__Specs-Img-Container {    
    grid-area: auto;
    padding: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    position: relative; 
}

.features__Specs-Img-Container .img2{
    position: relative;
    z-index: 1;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    box-shadow:  2px 2px 10px 5px rgba(0, 0, 0, 0.3);
}

.features__Specs-Img-Container .img3{
    position: absolute;
    bottom: 0;
    right: 0;    
    z-index: 2;
    width: 45%;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    box-shadow:  2px 2px 10px 5px rgba(0, 0, 0, 0.3);
}

.features__Specs-Info-Container{
    padding: 40px;
}
.features__Specs-Text{
    color: #6B6F75;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1rem;
    margin-top: 40px;
    line-height: 25px;
}
.features__Specs-Button{
    margin: 30px 0;
}

/* CLIENT SECTION */
.client__Title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0 30px 0;    
}
.client__Container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.client__Img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
}
.client{
    border-radius: 50%;
    width: 30%;
    max-width: 30%;
    height: auto;
    box-shadow:  2px 2px 10px 5px rgba(0, 0, 0, 0.3);
}
.client__Info{
    padding-right: 100px;
}
.client__Info-Text{
    color: #6B6F75;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 40px;   
}

.client__Info-Name{
    color: #45CF2F;   
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;    
    margin-top: 10px;
}
.client__Info-Button{
    margin: 20px 0px;
}

/* COMPANIES */

.companies__Container{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin: 150px 0;
}

.companies__Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 80px;    
}
.companies__Info-Text{
    color: #6B6F75;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 40px;
}

.companies__Img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 70px;    
}

.companyImg{
    width: 18%;
    height: auto;
    padding: 0 10px;
}

.features__Footer-Container{
    background-image: url(../../assets/background1.webp);    
    height: 80vh;
    width: auto;
    padding: 30px 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;  
}


.features__Footer-Img-Container { 
    grid-area: auto;         
    max-height: 100%;
    width: auto;
}
.features__Footer-Img-Container img { 
height: auto; 
width: 100%;    
}


@media (max-width: 575px) {
    /* empowering section */
    .features__Container {
        padding: 10px 30px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        display: flex;
        flex-direction: column-reverse;        
        align-items: center; 
        text-align: center;
        height: 100%;       
    }
    .features__Text-Container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* HOW WE WORK SECTION */
    .features__Title{               
        font-size: 1.8rem;      
    }
    
    .features__Work-Text{        
        font-size: 0.9rem;        
    }
    .features__Work-Container{        
        padding: 30px 40px;
        margin: 70px 0;
    }

    /* EQUITY SECTION */
    .features__Specs-Container{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    
    .features__Specs-Img-Container {        
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;        
    }        
    
    .features__Specs-Info-Container{
        padding: 40px 60px;
    }
    .features__Specs-Text{        
        font-size: 0.9rem;                
    }

    /* CLIENTS SECTION */

    .client__Title{
        padding: 0 50px;  
        text-align: center;
    }
    .client__Container{      
        flex-direction: column;        
    }
    .client__Img{        
        justify-content: center;      
    }
    .client{        
        width: 40%;
        max-width: 40%;       
    }
    .client__Info-Text-Container{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    .client__Info{
        padding: 0 50px;
    }
    .client__Info-Text{        
        font-size: 0.9rem;        
    }
    
    .client__Info-Name{        
        font-size: 0.8rem;            
    }   
    
    /* COMPANIES SECTION */    
    
    .companies__Info{          
        text-align: center;
        padding: 0 50px;
    }
    .companies__Info-Text{        
        font-size: 0.9rem;        
    }
    
    .companies__Img{        
        flex-direction: column;        
    }
    
    .companyImg{
        width: 80%;        
        padding: 20px 10px;
    }    

    /* features footer */
    .features__Footer-Container {
        padding: 10px 30px; 
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
        height: 100%;       
    }
    .features__Text-Container{
        order: 2;
    }
    .features__Footer-Img-Container { 
        grid-area: auto;         
        max-height: 100%;
        width: auto;
    }
    .features__Footer-Img-Container img { 
    height: auto; 
    width: 50%;    
    }

}


@media (min-width: 576px) and (max-width: 767px) {
   /* empowering section */
   .features__Container {
    padding: 10px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    display: flex;
    flex-direction: column-reverse;        
    align-items: center; 
    text-align: center;
    height: 100%;       
}
.features__Text-Container{    
    align-items: center;
    width: 50%;
    margin: 50px 0;
}
.features__Img-Container img { 
    height: auto; 
    width: 60%;    
}
/* HOW WE WORK SECTION */
.features__Title{               
    font-size: 2rem;      
}

.features__Work-Text{        
    font-size: 1rem;        
}
.features__Work-Container{        
    padding: 30px 40px;
    margin: 70px 0;
}

/* EQUITY SECTION */
.features__Specs-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;        
}

.features__Specs-Img-Container {        
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;        
}        

.features__Specs-Info-Container{
    padding: 40px 60px;
}
.features__Specs-Text{        
    font-size: 0.9rem;                
}

/* CLIENTS SECTION */

.client__Title{
    padding: 0 50px;  
    text-align: center;
}
.client__Container{      
    flex-direction: column;        
}
.client__Img{        
    justify-content: center;      
}
.client{        
    width: 40%;
    max-width: 40%;       
}
.client__Info-Text-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;        
}
.client__Info{
    padding: 0 50px;
}
.client__Info-Text{        
    font-size: 1rem;        
}

.client__Info-Name{        
    font-size: 1rem;            
}   

/* COMPANIES SECTION */    

.companies__Info{          
    text-align: center;
    padding: 0 50px;
}
.companies__Info-Text{        
    font-size: 0.9rem;        
}

.companies__Img{        
    flex-direction: column;        
}

.companyImg{
    width: 60%;        
    padding: 20px 10px;
}    

/* features footer */
.features__Footer-Container {
    padding: 10px 30px; 
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    height: 100%;       
}
.features__Text-Container{
    order: 2;
}
.features__Footer-Img-Container { 
    grid-area: auto;         
    max-height: 100%;
    width: auto;
}
.features__Footer-Img-Container img { 
height: auto; 
width: 50%;    
}
}

/* Media query para tabletas y dispositivos móviles medianos */
@media (min-width: 768px) and (max-width: 991px) {
    /* empowering section */
    .features__Container {
        padding: 10px 30px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        display: flex;
        flex-direction: row;        
        align-items: center; 
        text-align: center;
        height: 100%;       
    }
    .features__Text-Container{    
        align-items: left;
        margin: 50px 0;
        text-align: left;
        width: 60%;
    }
    .features__Img-Container img { 
        height: auto; 
        width: 100%;    
    }

    /* features footer */
    .features__Footer-Container {
        padding: 10px 30px; 
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        display: flex;
        flex-direction: row;
        align-items: center; 
        text-align: center;
        height: 100%;       
    }   
}

/* Media query para laptops y tablets grandes */
/* empowering section */
@media (min-width: 992px) and (max-width: 1199px) {
    .features__Container {
        padding: 10px; 
    }

    /* features footer */
    .features__Footer-Container {
        padding: 40px; /* Cambiar el padding para laptops */
    }
}


/* Media query para pantallas de escritorio (wide) */
/* empowering section */
@media (min-width: 1200px) {
    .features__Container {
        padding: 10px 350px; /* Cambiar el padding para pantallas de escritorio */
    }

    /* features footer */
    .features__Footer-Container {
        padding: 30px 350px; /* Cambiar el padding para pantallas de escritorio */
    }
}